name: Update with Latest Release
on:
  workflow_dispatch:

  # schedule runs on default branch
  schedule:
    - cron:  '0 2 * * *'

jobs:
  get-release-version:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        # package and requiring fortran to be installed
        package: [[flux-core, false], [flux-sched, false], [flux-pmix, true], ['flux-security', false]]
    steps:
      - uses: actions/checkout@v4
      - name: Update Version
        uses: sciworks/spack-updater/release-check@main
        id: check
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          package: ${{ matrix.package[0] }}          
          fortran: "${{ matrix.package[1] == true }}"

          # These are defaults
          pull_request: true
          test_build: true
