name: Spack Updater
on:
  workflow_dispatch:
  push:
    # This will look for changes in packages here to PR back to spack
    branches:
      - main
    paths:
      - 'packages/**'

  issues:
    types: [labeled]

  # This will run weekly on Wednesday to look for changes from spack to here
  schedule:
    - cron:  '0 10 * * 3'

jobs:
  update-spack:
    name: Update To and From Spack
    if: ${{ github.event_name != 'issues' }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        package: [flux_core, flux_sched, flux_pmix, flux_security]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Spack Update
        uses: sciworks/spack-updater@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ${{ github.actor }}
          repo: .        
          package: ${{ matrix.package }}

          # This should always be upstream spack
          upstream: https://github.com/spack/spack

          # Local branch to update here from spack (PR)
          local_branch: main

  manual-update-spack:
    name: Update To and From Spack
    if: ${{ github.event.label.name == 'spack-updater' }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        package: [flux_core, flux_sched, flux_pmix, flux_security]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Spack Update
        uses: sciworks/spack-updater@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          upstream: https://github.com/spack/spack
          user: ${{ github.actor }}
          repo: .        
          package: ${{ matrix.package }}
          # Local branch to update here from spack (PR)
          local_branch: main
